<ion-header style="height:44px;">
  <ion-navbar style="padding:2px 16px 0;height: 44px;min-height: 44px;margin-bottom: 6px;box-sizing: border-box;">
    <div class="input-bar" (click)="gotoSearch(keyword)">
      <span>
        <img src="assets/imgs/ic_search_black.svg" />{{keyword}}</span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="div1">
    <img class="pic1" src="assets/imgs/icon_recipes.svg" />
    <span class="title">{{listCate1.bigcategory}}</span>
  </div>
  <ul class="recipe_grid clearFix">
    <li *ngFor="let item of listCate1.samllcategory" (click)="gotoDetail(item.id, item.category_name)" style="background:rgba(255,0,0,0.05);">
      {{item.category_name}}</li>
  </ul>
  <span class="margin-block"></span>
  <div class="div1">
    <img class="pic1" src="assets/imgs/icon_nutrition.svg" />
    <span class="title">{{listCate2.bigcategory}}</span>
  </div>
  <ul class="recipe_grid clearFix">
    <li *ngFor="let item of listCate2.samllcategory" (click)="gotoDetail(item.id, item.category_name)" style="background:rgba(239,232,255,1);">
      {{item.category_name}}</li>
  </ul>
  <span class="margin-block"></span>

  <div class="div1">
    <img class="pic1" src="assets/imgs/icon_foodyingyang.svg" />
    <span class="title">{{listCate3.bigcategory}}</span>
  </div>
  <ul class="recipe_grid clearFix">
    <li *ngFor="let item of listCate3.samllcategory" (click)="gotoDetail(item.id, item.category_name)" style="background:rgba(255,252,236,1);">
      {{item.category_name}}</li>
  </ul>
  <span class="margin-block"></span>

  <div class="div1">
    <img class="pic1" src="assets/imgs/icon_foodmaterial.svg" />
    <span class="title">{{listCate4.bigcategory}}</span>
  </div>
  <ul class="recipe_grid clearFix">
    <li *ngFor="let item of listCate4.samllcategory" (click)="gotoDetail(item.id, item.category_name)" style="background:rgba(240,250,251,1);">
      {{item.category_name}}</li>
  </ul>
  <span class="margin-block"></span>

</ion-content>
