page-home {

  ion-header {

    .input-bar {
      height: 40px;
      width: 100%;
      background: rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      line-height: 40px;
      margin: 0 auto;
      img {
        vertical-align: middle;
        position: relative;
        top: -3px;
        margin-right: 8px;
      }

      span {
        vertical-align: middle;
        font-size: 14px;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color:#4A4A4A;
        padding-left: 8px;
      }
    }
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image: none;

  }
  .header-ios::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image: none;
  }


  #navMy {
    display: block;
    background-size: 100% 48px;
    width: 100%;
    height: 48px;
    overflow: hidden;
  }

  .titleDiv {
    padding: 8px;
    margin-left: 16px;
    margin-right: 16px;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    line-height: 40px;

    span {
      font-size: 14px;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(74, 74, 74, 1);
      line-height: 40px;

      img {
        vertical-align: middle;
        line-height: 40px;
      }
    }
  }

  .toolbar-background {
    border-width: 0 0 0 !important;
    background-color: transparent !important;
  }

  #navMy {
    display: block;
    background-color: #ffffff;
    background-size: 100% 48px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
  }

  .navMy-left {
    position: absolute;
    left: 16px;
    right: 16px;
    width: auto;
    height: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.04);
    border-radius: 4px;
    line-height: 40px;
    vertical-align: middle;
  }

  .navMy-left span {
    font-size: 14px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    margin-left: 8px;
    color: rgba(74, 74, 74, 1);
    vertical-align: middle;
  }

  .navMy-left img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-left: 8px;
  }



  .div1 {
    padding: 0 16px;
    height: 50px;
    box-sizing: border-box;
    line-height: 50px;
    display: flex;
    align-items: center;

    img {
      float: left;
    }

    .title {
      font-size: 17px;
      color: #000000;
      font-family: PingFang-SC-Bold;
      font-weight: bold;
      margin-left: 8px;
    }
  }

  .recipe_grid {
    padding: 0 10px;
    margin-top: 4px;

    li {
      float: left;
      width: 31%;
      margin: 6px 3% 6px 0;
      text-align: center;
      height: 36px;
      border-radius:4px;
      line-height: 36px;
    }
  }
  .margin-block {
    float: left;
    background: rgba(0, 0, 0, 0.04);
    margin-top: 4px;
    width: 100%;
    height: 8px;
  }

  .recipe_grid li:nth-child(3n) {
    margin-right: 0;
  }

  .recipe_class_wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .recipe_item {
    border: 1px rgba(255, 0, 0, 0.05);
    border-radius: 2px;
    padding: 8px 0;
    // padding-bottom: 8px;
    text-align: center;
    font-size: 15px;
    color: #000000;
    margin: 6px 0;
    background-color: rgba(255, 0, 0, 0.05);
  }
}
