page-searchhome {
  .header {
    display: flex;

    .toolbar .searchbar-input {
      background: rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    .search_btn {
      font-size: 17px;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
      width: 40px;
      display: flex;
      align-items: center;
    }

  }

  .toolbar-background {
    border-width: 0 0 0 !important;
    background-color: transparent !important;
  }

  .searchHistory {
    padding: 10px;
  }

  .searchHistory h4 {
    margin-bottom: 10px;
  }

  .searchHistory h4 img {
    float: right;
    height: 100%;
    margin-right: 20px;
  }

  .searchHistory span {
    background-color: #eee;
    display: inline-block;
    padding: 0 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 25px;
    max-width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #232323;
  }
}
