<ion-header>
  <ion-navbar style="padding:8px 16px;border-bottom: 1px solid #CDCED3">
    <div class="header">
      <form action="javascript:return true;" style="flex:1">
        <ion-searchbar
          type="search" 
          (keyup)='showResult($event,keyWrods)' 
          [ngModelOptions]="{standalone: true}"
          [(ngModel)]="keyWrods" 
          [placeholder]="'宝宝肉松'" 
          searchbar-md-input-search-icon-svg="../../assets/imgs/ic_search_black.svg"
          searchbar-ios-input-search-icon-svg="../../assets/imgs/ic_search_black.svg">
        </ion-searchbar>
      </form>
      <span class="search_btn" (click)="goBack()">取消</span>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="div_home" *ngIf='isHomeP'>
    <div class="searchHistory">
      <h4>
          <p>搜索历史</p>
        <img src="../../assets/imgs/icon_searchstory_del.svg" alt="">
      </h4>
      <span *ngFor="let item of items" (click)="gotoResult()">{{item}}</span>
    </div>
    <div class="searchHistory">
      <h4>搜索热词</h4>
      <span>宝宝6个月不能吃什么辅食</span>
      <span>西瓜</span>
      <span>食物相克</span>
      <span>五谷杂粮</span>
      <span>三文鱼</span>
    </div>
  </div>
  <div id="divResult" *ngIf='!isHomeP'>
    ddsfdsagsdf
  </div>
</ion-content>
