<ion-header>
  <ion-navbar style="padding:0px 16px;">
    <div class="header">
      <form action="javascript:return true;" style="flex:1">
        <ion-searchbar id="searchinput" type="search" (keyup)='showResult($event,inputWord)' [ngModelOptions]="{standalone: true}"
          [(ngModel)]="inputWord" [placeholder]="keyword" searchbar-md-input-search-icon-svg="assets/imgs/ic_search_black.svg"
          searchbar-ios-input-search-icon-svg="assets/imgs/ic_search_black.svg">
        </ion-searchbar>
      </form>
      <span class="search_btn" (click)="goBack()">取消</span>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="div_home" *ngIf='isHomeP'>
    <div class="searchHistory" *ngIf='isSearchHist'>
      <h4>
        <p>搜索历史</p>
        <img src="assets/imgs/icon_searchstory_del.svg" alt="" (click)="deleteAll()">
      </h4>
      <span *ngFor="let item of searchdata" (click)="gotoResult(item.searchvalue)">{{item.searchvalue}}</span>
    </div>
    <div class="searchHistory">
      <h4>热门搜索</h4>
      <span *ngFor="let item of items" (click)="gotoResult(item)">{{item}}</span>
    </div>
  </div>
  <div id="divResult" *ngIf='!isHomeP'>
    <div class="searchNone" *ngIf="!isHasResult">
      <div>
        <img src="assets/imgs/search_babydata_placeholder.svg" alt="">
      </div>
      <p>竟然一个结果都没有</p>
    </div>
    <div class="resultList recipeList" *ngIf="isHasResult">
      <div class="title">食谱</div>
      <ul>
        <li class="clearFix" *ngFor="let item of searchResultdata" (click)="showDetail(item)">
          <div class="left">
            <img src="{{item.imgurl}}" alt="">
          </div>
          <div class="right">
            <h5>{{item.title}}</h5>
            <p>
              <span *ngFor="let lab of item.label">{{lab.name}}</span>
            </p>
            <p>{{item.loves}}人已收藏</p>
          </div>
        </li>
      </ul>
      <div class="more" *ngIf='false'>
        更多食谱(26条)
        <span>></span>
      </div>
    </div>
    <div class="resultList babyList" *ngIf="false">
      <div class="title">育儿知识</div>
      <ul>
        <li class="clearFix">
          <div class="left">
            <img src="assets/imgs/img_pareknow_placeholder.svg" alt="">
          </div>
          <div class="right">
            <h5>新生儿睡中带笑 在做什么美梦</h5>
            <p>2910人已阅读</p>
          </div>
        </li>
        <li class="clearFix">
          <div class="left">
            <img src="assets/imgs/img_pareknow_placeholder.svg" alt="">
          </div>
          <div class="right">
            <h5>注意啦！这种学步工具早被拉入黑名单了</h5>
            <p>2910人已阅读</p>
          </div>
        </li>
        <li class="clearFix">
          <div class="left">
            <img src="assets/imgs/img_pareknow_placeholder.svg" alt="">
          </div>
          <div class="right">
            <h5>佩带耳模矫正器最佳治疗时间段是？新生儿可以佩带耳模矫正…</h5>
            <p>2910人已阅读</p>
          </div>
        </li>
      </ul>
      <div class="more">
        更多知识(26条)
        <span>></span>
      </div>
    </div>
    <div class="resultList canEat" *ngIf="false">
      <div class="title">能不能吃</div>
      <ul>
        <li class="clearFix">
          <div class="left">
            <img src="assets/imgs/img_eat_placeholder.svg" alt="">
          </div>
          <div class="right">
            <h5>三黄鸡</h5>
            <p class="pink">宝宝7个月以上能吃</p>
            <p><span>4个菜谱</span></p>
            <div class="detail">详情</div>
          </div>
        </li>
        <li class="clearFix">
          <div class="left">
            <img src="assets/imgs/img_eat_placeholder.svg" alt="">
          </div>
          <div class="right">
            <h5>麻辣鸡肉串</h5>
            <p class="pink">宝宝7个月以上能吃</p>
            <p><span>4个菜谱</span></p>
            <div class="detail">详情</div>
          </div>
        </li>
        <li class="clearFix">
          <div class="left">
            <img src="assets/imgs/img_eat_placeholder.svg" alt="">
          </div>
          <div class="right">
            <h5>鸡脆骨</h5>
            <p class="pink">宝宝7个月以上能吃</p>
            <p><span>4个菜谱</span></p>
            <div class="detail">详情</div>
          </div>
        </li>
      </ul>
      <div class="more">
        更多食材(32条)
        <span>></span>
      </div>
    </div>
  </div>
</ion-content>
