page-recipedetail {
  #navMy {
    display: block;
    background-color: #f9f9f9;
    background-size: 100% 48px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
  }

  .navMy-left {
    width: 40px;
    height: 48px;
    position: absolute;
  }

  .navMy-left img {
    //src:url('../');
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .navMy-center {
    display: flex;
    height: 48px;
    position: absolute;
    left: 40px;
    right: 40px;
    align-items: center;
    justify-content: center;
  }

  .navMy-center span {
    font-size: 17px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: 24px;
  }

  .navMy-right {
    // width: 80px;
    padding-right: 16px;
    height: 48px;
    position: absolute;
    right: 0;
  }

  .navMy-right img {
    vertical-align: middle;
  }

  .webPage {
    width: 100%;
    height: 100%;
    border: none;
  }

}
