<ion-header no-shadow no-border>
  <ion-toolbar style="margin-top: 8px;padding: 0;border-bottom: 1px solid #F5F5F5;">
    <ion-segment class="top_segment" [(ngModel)]="top_segment">
      <ion-segment-button (click)="select(0)" value="top_0">
        全部
      </ion-segment-button>
      <ion-segment-button (click)="select(1)" value="top_1">
        食谱
      </ion-segment-button>
      <ion-segment-button (click)="select(2)" value="top_2">
        育儿知识
      </ion-segment-button>
      <ion-segment-button (click)="select(2)" value="top_3">
        能不能吃
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content has-bouncing="false">
  <ion-slides (pan)="panEvent($event)" #mySlider (ionDrag)="onSlideChanged($event)">
    <ion-slide>
      <ion-content class="fixed-content">
        <ion-list *ngIf="selected_segment===0">
          <div class="searchNone" *ngIf="false">
            <div>
              <img src="../../assets/imgs/search_babydata_placeholder.svg" alt="">
            </div>
            <p>竟然一个结果都没有</p>
          </div>
          <div class="resultList recipeList">
            <div class="title">食谱</div>
            <ul>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_lists_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>西葫芦韭菜盒子</h5>
                  <p>
                    <span>#补铁</span>
                    <span>#6-7个月</span>
                    <span>#早餐</span>
                  </p>
                  <p>1239人已收藏</p>
                </div>
              </li>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_lists_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>西葫芦韭菜盒子</h5>
                  <p>
                    <span>#补铁</span>
                    <span>#6-7个月</span>
                    <span>#早餐</span>
                  </p>
                  <p>1239人已收藏</p>
                </div>
              </li>
            </ul>
            <div class="more">
              更多食谱(26条)
              <span>></span>
            </div>
          </div>
          <div class="resultList babyList">
            <div class="title">育儿知识</div>
            <ul>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_pareknow_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>新生儿睡中带笑 在做什么美梦</h5>
                  <p>2910人已阅读</p>
                </div>
              </li>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_pareknow_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>注意啦！这种学步工具早被拉入黑名单了</h5>
                  <p>2910人已阅读</p>
                </div>
              </li>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_pareknow_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>佩带耳模矫正器最佳治疗时间段是？新生儿可以佩带耳模矫正…</h5>
                  <p>2910人已阅读</p>
                </div>
              </li>
            </ul>
            <div class="more">
              更多知识(26条)
              <span>></span>
            </div>
          </div>
          <div class="resultList canEat">
            <div class="title">能不能吃</div>
            <ul>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_eat_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>三黄鸡</h5>
                  <p class="pink">宝宝7个月以上能吃</p>
                  <p><span>4个菜谱</span></p>
                  <div class="detail">详情</div>
                </div>
              </li>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_eat_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>麻辣鸡肉串</h5>
                  <p class="pink">宝宝7个月以上能吃</p>
                  <p><span>4个菜谱</span></p>
                  <div class="detail">详情</div>
                </div>
              </li>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_eat_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>鸡脆骨</h5>
                  <p class="pink">宝宝7个月以上能吃</p>
                  <p><span>4个菜谱</span></p>
                  <div class="detail">详情</div>
                </div>
              </li>
            </ul>
            <div class="more">
              更多食材(32条)
              <span>></span>
            </div>
          </div>

        </ion-list>
      </ion-content>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <ion-list>
          <div class="itemNav">
            <div>按月龄选择 <img src="../../assets/imgs/icon_filtration.svg" alt=""></div>
            <div>按营养功效选择 <img src="../../assets/imgs/icon_filtration.svg" alt=""></div>
          </div>
          <div class="resultList recipeList">
            <ul>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_lists_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>西葫芦韭菜盒子</h5>
                  <p>
                    <span>#补铁</span>
                    <span>#6-7个月</span>
                    <span>#早餐</span>
                  </p>
                  <p>1239人已收藏</p>
                </div>
              </li>
              <li class="clearFix">
                <div class="left">
                  <img src="../../assets/imgs/img_lists_placeholder.svg" alt="">
                </div>
                <div class="right">
                  <h5>西葫芦韭菜盒子</h5>
                  <p>
                    <span>#补铁</span>
                    <span>#6-7个月</span>
                    <span>#早餐</span>
                  </p>
                  <p>1239人已收藏</p>
                </div>
              </li>
            </ul>
          </div>
        </ion-list>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <h1>TAB3</h1>
      </ion-scroll>
    </ion-slide>
    <ion-slide>
      <ion-scroll scrollY="true" class="fixed-content">
        <h1>TAB4</h1>
      </ion-scroll>
    </ion-slide>
  </ion-slides>
</ion-content>
