<ion-header>
  <ion-navbar hideBackButton="true" id="navMy">
    <div class="navMy-left" (click)="dismiss();">
      <img src="assets/imgs/ic_back_black.svg" />
    </div>
    <div class="navMy-center">
      <span>{{titleName}}</span>
    </div>
    <div class="navMy-right">
      <span></span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list style="background-color: white">
    <ion-item ion-item *ngFor="let item1 of foodListArray" (click)="showDetail(item1)">
      <img item-left src="{{item1.imgurl}}">
      <div class="item_right_div">
        <p>{{item1.title}}</p>
        <ul class="ulItem clearFix">
          <li *ngFor="let item of item1.label" style="background:rgba(247,247,247,1);"> {{item.name}}</li>
        </ul>
        <span>{{item1.loves}}人已收藏</span>
      </div>
    </ion-item>
  </ion-list>
<ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="100px">
  <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载中...">
</ion-infinite-scroll-content>
</ion-infinite-scroll>
<!-- <div *ngIf='!hasmore'>我是有底线的——————————————————————</div> -->
</ion-content>

