page-detail-recipe {
  .header {
    background-color: #ffffff;
  }

  .toolbar .toolbar-background {
    background: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
  }

  .header .toolbar-ios {
    padding: 0px 16px 0px 16px;
  }

  .col {
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);

    span {
      font-size: 15px;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
    }

    img {
      float: none;
      text-align: center;
      vertical-align: middle;
    }
  }

  .item {
    border-bottom: 0px !important;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;

    img {
      margin: 0px 0px 0px 0 !important;
      width: 35%;
      height: 74px;
      border-radius: 4px;
    }

    p {
      font-size: 17px;
      font-family: PingFang-SC-Bold;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      margin: 0;
    }
  }

  .item .item_right_div {
    width: 100%;
    padding-left: 8px;
    span {
      font-size:11px;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(155, 155, 155, 1);
      line-height:16px;
      display: block;
      margin-top: 8px;
    }
  }

  .item .item-inner {
    display: inline;
    border-bottom: 0px !important;
  }

  .item .label {
    margin: 0 !important;
  }

  .ulItem {
    margin-top: 7px;
    font-size:11px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(155, 155, 155, 1);
    li {
      float: left;
      margin: 0 8px 0 0;   //上右下左
      text-align: center;
      height: 20px;
      padding: 2px 6px 2px 6px;
      border-radius: 2px;
      line-height: 20px;
    }
  }

}
