page-detail-recipe {
  .header {
    background-color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
  }

  .toolbar .toolbar-background {
    background: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
  }

  .header .toolbar-ios {
    padding: 0px;
  }

  .col {
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(0, 0, 0, 1);
    span {
      font-size:15px;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(0, 0, 0, 1);
    }
    img {
      float: none;
      text-align: center;
    }
  }
}
