page-detail-recipe {

  #navMy {
    display: block;
    // background-color: #f9f9f9;
    // background-size: 100% 48px;
    width: 100%;
    height: 44px;
    overflow: hidden;
    padding: 0;
    min-height: 44px;
    padding: 0 16px;
    .toolbar-background-md,.toolbar-background-ios{
      background-color: #fff;

    }

  }

  .navMy-left {
    width: 30px;
    height: 44px;
    position: absolute;
  }

  .navMy-left img {
    //src:url('../');
    width: 100%;
    height: 100%;
    padding: 10px 6px 10px 0;
  }

  .navMy-center {
    display: flex;
    height: 44px;
    position: absolute;
    left: 40px;
    right: 40px;
    align-items: center;
    justify-content: center;
  }

  .navMy-center span {
    font-size:17px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    color:rgba(0, 0, 0, 1);
    line-height:24px;
  }

  .navMy-right {
    width: 40px;
    height: 44px;
    position: absolute;
    right: 0;
  }



  .header {
    background-color: #ffffff;
  }

  .toolbar .toolbar-background {
    background: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
  }

  .header .toolbar-ios {
    padding: 0px 16px 0px 16px;
  }

  .col {
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);

    span {
      font-size: 15px;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(0, 0, 0, 1);
    }

    img {
      float: none;
      text-align: center;
      vertical-align: middle;
    }
  }

  .item {
    border-bottom: 0px !important;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: normal;

    img {
      margin: 0px 0px 0px 0 !important;
      width: 35%;
      height: 74px;
      border-radius: 4px;
    }

    p {
      font-size: 17px;
      font-family: PingFang-SC-Bold;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      margin: 0;
    }
  }

  .item .item_right_div {
    width: 100%;
    padding-left: 8px;
    span {
      font-size:11px;
      font-family:PingFang-SC-Medium;
      font-weight:500;
      color:rgba(155, 155, 155, 1);
      line-height:16px;
      display: block;
      margin-top: 8px;
    }
  }

  .item .item-inner {
    display: inline;
    border-bottom: 0px !important;
  }

  .item .label {
    margin: 0 !important;
  }

  .ulItem {
    margin-top: 7px;
    font-size:11px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(155, 155, 155, 1);
    li {
      float: left;
      margin: 0 8px 0 0;   //上右下左
      text-align: center;
      height: 20px;
      padding: 2px 6px 2px 6px;
      border-radius: 2px;
      line-height: 20px;
    }
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before,
  .header-ios::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before,{
    background-image: none;
  }

}
